<nav>
  <a href="dashboard" routerLink="/dashboard">Karrara Transport</a>
  <div id="navbarNav">
    <div>
      <a href="milk_sul" routerLink="/milk_sul">Milk Run Sul</a>
      <a href="milk_sul" routerLink="/milk_sul">Milk Run SP</a>
      <a href="milk_sul" routerLink="/milk_sul">Milk Run Argentina</a>
      <a href="milk_sul" routerLink="/milk_sul">Interplantas</a>
      <a href="milk_sul" routerLink="/milk_sul">Containers</a>
      <a href="milk_sul" routerLink="/milk_sul">Frete Extra</a>
    </div>

  </div>
  <a mat-button [matMenuTriggerFor]="menu"><i class="ri-tools-line"></i>Config</a>
    <mat-menu #menu="matMenu" class="mat-menu-content">
      <nav>
        <a href="jetta" routerLink="/jetta">Sinc Jetta</a>
      </nav>



    </mat-menu>
</nav>
