nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav #navbarNav {
  display: flex;
}

nav #navbarNav a {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
}

nav #navbarNav a:hover {
  background-color: #aa0d0d;
}

.mat-menu-content {
  background-color: #292929;
  color: white;
}

.mat-menu-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.mat-menu-content a:hover {
  background-color: #aa0d0d;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292929;
  color: white;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  cursor: pointer !important; /* Adiciona o estilo de cursor de apontar */
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #292929;
}

.dropdown-menu a:hover {
  background-color: #aa0d0d;
}

.menu-items {
  margin-top: 5px; /* ajuste o valor conforme necessário para criar espaço entre o menu e os itens do dropdown */
  min-width: 300px; /* ajuste o valor conforme necessário para definir a largura dos itens do dropdown */
}
