<nav class="main-nav">
  <a href="#" routerLink="/">E-Transport</a>
  <div id="navbarNav">
    <div class="menu-items">


      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <a href="milk_sul" routerLink="/milk_sul">Milk Run Sul</a>
      </div>


      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <a href="milk_SP" routerLink="/milk_sp">Milk Run SP</a>
      </div>



      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <a href="milk_ARG" routerLink="/milk_ARG">Milk Run Argentina</a>
      </div>


      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <button class="dropbtn">Interplantas</button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <a href="interplantas" routerLink="/interplantas">Acompanhar Operação</a>
          <a href="time" routerLink="/time">Time Table</a>
        </div>
      </div>

      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <button class="dropbtn">Container</button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <a href="interplantas" routerLink="/interplantas">Acompanhar Operação</a>
          <a href="container" routerLink="/container">Time Table</a>
        </div>
      </div>

      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <a href="extra" routerLink="/extra">Frete Extra</a>
      </div>

      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <button class="dropbtn">Relatórios</button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <a href="relatorio" routerLink="/relatorio">Relatorio Milk Run</a>
        </div>
      </div>
      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <button class="dropbtn">Operação VW</button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <a href="operacaoVW" routerLink="/operacaoVW">Acompanhar Operação</a>
          <a href="atualizaVW" routerLink="/atualizaVW">Carregar Excel</a>
          <a href="trackingVW" routerLink="/trackingVW">Tracking</a>
        </div>
      </div>




    </div>
  </div>
  <div id="navbarNav">
    <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
      <button class="dropbtn">Configurações</button>
      <div class="dropdown-content" *ngIf="showDropdown">
        <a href="jetta" routerLink="/jetta">Sinc Jetta</a>
        <a href="atualiza" routerLink="/atualiza">Sinc Excel</a>
        <a href="fornecedores" routerLink="/fornecedores">Fornecedores</a>
        <a href="locais" routerLink="/locais">Recebimentos Scania</a>
        <!-- <a href="carrier" routerLink="/carrier">Transportadoras</a> -->
        <a href="lab" routerLink="/lab">Veiculos Lab</a>
        <a href="cadastro" routerLink="/cadastro">Cadastrar Usuário</a>
        <a href="contratos" routerLink="/contratos">Contratos</a>
        <a href="carriers" routerLink="/carriers">Transportadores</a>
        <a href="tipos" routerLink="/tipos">Tipos de Veículos</a>

      </div>
    </div>

    <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
      <button  class="dropbtn" type="button" (click)="logout()">Logout</button>
    </div>

  </div>

<!-- teste novo branch -->

</nav>
