<body>
  <div>
    <div *ngIf="dataLoaded">
      <form>
        <label for="filtroDataInicio">Start date:</label>
        <input type="date" id="filtroDataInicio" name="filtroDataInicio" [(ngModel)]="filtroDataInicio">
        <label for="filtroDataTermino">End date:</label>
        <input type="date" id="filtroDataTermino" name="filtroDataTermino" [(ngModel)]="filtroDataTermino">
        <button type="button" (click)="aplicarFiltroPorData()">Search</button>
        <button type="button" (click)="filtra()">Filtra</button>
        <input type="text" name="searchText" [(ngModel)]="searchText" (input)="filterItems()" placeholder="Find"
          class="ultimo-input">
      </form>
      <div class="form-wrapper">
        <table>
          <thead>
            <tr>
              <th class="auto-width">
                Tipo de Veículo
              </th>
              <th class="auto-width">
                Placa
              </th>
              <th class="auto-width">
                Localização
              </th>
              <th class="auto-width">
                Rastreio
              </th>
              <th class="auto-width">
                Paradas
              </th>
              <th class="auto-width">
                Fornecedores
              </th>
              <th>
                Destino
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of items; let i = index">
              <tr>
                <td [attr.contenteditable]="editMode[i] ? true : null">{{ item["Transport Type"] }}</td>
                <td (click)="toggleEditMode(i)">{{ item["Plate"] }}</td>
                <td [attr.contenteditable]="editMode[i] ? true : null">{{ item["Plate"] }}</td>
                <td [attr.contenteditable]="editMode[i] ? true : null">{{ item["Plate"] }}</td>
                <td>{{ item['Passos'] }}</td>
                <td class="left-align auto-width">
                  <div class="button-container">
                    <button *ngIf="item.hasOwnProperty('Fornecedor 1') && item['Fornecedor 1'] !== ''"
                      [ngClass]="{'background-red': item.cadastrado1 === false, 'background-blue': item.cadastrado1 === true, 'background-green': item['Passo Fornecedor1'] === 1}"
                      (click)="acaoDeClique(item, 'Passo Fornecedor1', 'cadastrado1','Fornecedor 1')">
                      {{ item['Fornecedor 1'] }}
                      <br>
                      Janela - {{ item['Janela 1'] | date: 'dd/MM/yyyy - HH:mm' }}
                    </button>

                    <button *ngIf="item.hasOwnProperty('Fornecedor 2') && item['Fornecedor 2'] !== ''"
                      [ngClass]="{'background-red': item.cadastrado2 === false, 'background-blue': item.cadastrado2 === true, 'background-green': item['Passo Fornecedor2'] === 1}"
                      (click)="acaoDeClique(item, 'Passo Fornecedor2', 'cadastrado2','Fornecedor 2')">
                      {{ item['Fornecedor 2'] }}
                      <br>
                      Janela - {{ item['Janela 2'] | date: 'dd/MM/yyyy - HH:mm' }}
                    </button>

                    <button *ngIf="item.hasOwnProperty('Fornecedor 3') && item['Fornecedor 3'] !== ''"
                      [ngClass]="{'background-red': item.cadastrado3 === false, 'background-blue': item.cadastrado3 === true, 'background-green': item['Passo Fornecedor3'] === 1}"
                      (click)="acaoDeClique(item, 'Passo Fornecedor3', 'cadastrado3','Fornecedor 3')">
                      {{ item['Fornecedor 3'] }}
                      <br>
                      Janela - {{ item['Janela 3'] | date: 'dd/MM/yyyy - HH:mm' }}
                    </button>

                    <button *ngIf="item.hasOwnProperty('Fornecedor 4') && item['Fornecedor 4'] !== ''"
                      [ngClass]="{'background-red': item.cadastrado4 === false, 'background-blue': item.cadastrado4 === true, 'background-green': item['Passo Fornecedor4'] === 1}"
                      (click)="acaoDeClique(item, 'Passo Fornecedor4', 'cadastrado4','Fornecedor 4')">
                      {{ item['Fornecedor 4'] }}
                      <br>
                      Janela - {{ item['Janela 4'] | date: 'dd/MM/yyyy - HH:mm' }}
                    </button>

                    <!-- Outros botões de fornecedores -->
                  </div>
                </td>
                <td class="left-align auto-width">
                  <div class="button-container">


                    <button *ngIf="item.hasOwnProperty('Destino 1') && item['Destino 1'] !== ''"
                    [ngClass]="{'background-red': item.cadastradoDestino1 === false, 'background-blue': item.cadastradoDestino1 === true, 'background-green': item['Passo Destino1'] === 1}"
                    (click)="acaoDeClique(item, 'Passo Destino1','cadastradoDestino1','Destino 1')">
                    {{ item['Destino 1'] }}
                    <br>
                    Janela - {{ item['JanelaDestino 1'] | date: 'dd/MM/yyyy - HH:mm' }}
                  </button>

                  <button *ngIf="item.hasOwnProperty('Destino 2') && item['Destino 2'] !== ''"
                    [ngClass]="{'background-red': item.cadastradoDestino2 === false, 'background-blue': item.cadastradoDestino2 === true, 'background-green': item['Passo Destino2'] === 1}"
                    (click)="acaoDeClique(item, 'Passo Destino2', 'cadastradoDestino2','Destino 2')">
                    {{ item['Destino 2'] }}
                    <br>
                    Janela - {{ item['JanelaDestino 2'] | date: 'dd/MM/yyyy - HH:mm' }}
                  </button>

                  <button *ngIf="item.hasOwnProperty('Destino 3') && item['Destino 3'] !== ''"
                    [ngClass]="{'background-red': item.cadastradoDestino3 === false, 'background-blue': item.cadastradoDestino3 === true, 'background-green': item['Passo Destino3'] === 1}"
                    (click)="acaoDeClique(item, 'Passo Destino3', 'cadastradoDestino3','Destino 3')">
                    {{ item['Destino 3'] }}
                    <br>
                    Janela - {{ item['JanelaDestino 3'] | date: 'dd/MM/yyyy - HH:mm' }}
                  </button>

                  <button *ngIf="item.hasOwnProperty('Destino 4') && item['Destino 4'] !== ''"
                    [ngClass]="{'background-red': item.cadastradoDestino4 === false, 'background-blue': item.cadastradoDestino4 === true, 'background-green': item['Passo Destino4'] === 1}"
                    (click)="acaoDeClique(item, 'Passo Destino4','cadastradoDestino4','Destino 4')">
                    {{ item['Destino 4'] }}
                    <br>
                    Janela - {{ item['JanelaDestino 4'] | date: 'dd/MM/yyyy - HH:mm' }}
                  </button>


                    <!-- Outros botões de destino -->

                  </div>

                </td>
              </tr>
              <tr *ngIf="editMode[i]">
                <td colspan="6">

                  <input type="text" [(ngModel)]="item['Plate']">
                  <input type="text" [(ngModel)]="item['Passos']">

                  <!-- Outros inputs para as colunas restantes -->
                  <button (click)="salvar('Placa',item); editMode[i] = false">Salvar</button>
                </td>
              </tr>

            </ng-container>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</body>
