:host {
  display: block;
  height: 100vh;
}

#map {
  height: 100%;
  position: relative;
}
.custom-marker {
  width: 3px;
  height: 3px;
}

.small-marker {
  width: 24px; /* Defina o valor desejado para a largura */
  height: 24px; /* Defina o valor desejado para a altura */
}

.large-marker {
  width: 48px; /* Defina o valor desejado para a largura */
  height: 48px; /* Defina o valor desejado para a altura */
}
#map form {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

