<div class="container d-flex justify-content-center align-items-center absolute-container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="brand-title">Ajustar de Programação</div>
  </nav>
  <form class="inputs">
    <table class="table table-dark">
      <div>
        <tr>
          <td><label>Transportadora</label></td>
          <td>
            <select class="select-input" (change)="updateLocal('Transportadora', select7.value)" #select7>
              <option [(ngModel)]="data?.itemsData.local.Transportadora">{{ data?.itemsData.local.Transportadora }}</option>
              <option *ngFor="let Carrier of carriers" [value]="Carrier.name">{{ Carrier.name }}</option>
            </select>




          </td>
          <td><label>Placa</label></td>
          <td><input type="string" name="placa" [(ngModel)]="data.itemsData.local.Plate"></td>
        </tr>
      </div>
      <div>
        <tr>
          <td><label class="input2">Local 1</label></td>
          <td><label class="input2">Local 2</label></td>
          <td><label class="input2">Local 3</label></td>
          <td><label class="input2">Local 4</label></td>
          <td><label class="input2">Local 5</label></td>
          <td><label class="input2">Local 6</label></td>
        </tr>
        <tr *ngIf="data">
          <td>
            <select class="select-input" (change)="updateLocal('Local 1', select1.value)" #select1>
              <option [value]="data?.itemsData.local['Local 1']">{{ data?.itemsData.local['Local 1'] }}</option>
              <option *ngFor="let Place of places" [value]="Place.local">{{ Place.local }}</option>
            </select>
          </td>

          <td>
            <select class="select-input" (change)="updateLocal('Local 2', select2.value)" #select2>
              <option [value]="data?.itemsData.local['Local 2']">{{ data?.itemsData.local['Local 2'] }}</option>
              <option *ngFor="let Place of places" [value]="Place.local">{{ Place.local }}</option>
            </select>
          </td>

          <td>
            <select class="select-input" (change)="updateLocal('Local 3', select3.value)" #select3>
              <option [value]="data?.itemsData.local['Local 3']">{{ data?.itemsData.local['Local 3'] }}</option>
              <option *ngFor="let Place of places" [value]="Place.local">{{ Place.local }}</option>
            </select>
          </td>

          <td>
            <select class="select-input" (change)="updateLocal('Local 4', select4.value)" #select4>
              <option [value]="data?.itemsData.local['Local 4']">{{ data?.itemsData.local['Local 4'] }}</option>
              <option *ngFor="let Place of places" [value]="Place.local">{{ Place.local }}</option>
            </select>
          </td>

          <td>
            <select class="select-input" (change)="updateLocal('Local 5', select5.value)" #select5>
              <option [value]="data?.itemsData.local['Local 5']">{{ data?.itemsData.local['Local 5'] }}</option>
              <option *ngFor="let Place of places" [value]="Place.local">{{ Place.local }}</option>
            </select>
          </td>

          <td>
            <select class="select-input" (change)="updateLocal('Local 6', select6.value)" #select6>
              <option [value]="data?.itemsData.local['Local 6']">{{ data?.itemsData.local['Local 6'] }}</option>
              <option *ngFor="let Place of places" [value]="Place.local">{{ Place.local }}</option>
            </select>
          </td>

        </tr>

      </div>
      <div>
        <tr>
          <td><label class="input2">Janela 1</label></td>
          <td><label class="input2">Janela 2</label></td>
          <td><label class="input2">Janela 3</label></td>
          <td><label class="input2">Janela 4</label></td>
          <td><label class="input2">Janela 5</label></td>
          <td><label class="input2">Janela 6</label></td>
        </tr>
        <tr>


          <td>
            <input type="time" id="exampleInput1" name="input1" [(ngModel)]="data.janela1" placeholder="HH:mm:ss"
              min="00:00:00" max="23:59:00" required />
          </td>


          <td>
            <input type="time" id="exampleInput2" name="input2" [(ngModel)]="data.janela2" placeholder="HH:mm:ss"
              min="00:00:00" max="23:59:00" required />
          </td>

          <td>
            <input type="time" id="exampleInput3" name="input4" [(ngModel)]="data.janela3" placeholder="HH:mm:ss"
              min="00:00:00" max="23:59:00" required />
          </td>

          <td>
            <input type="time" id="exampleInput4" name="input4" [(ngModel)]="data.janela4" placeholder="HH:mm:ss"
              min="00:00:00" max="23:59:00" required />
          </td>

          <td>
            <input type="time" id="exampleInput5" name="input5" [(ngModel)]="data.janela5" placeholder="HH:mm:ss"
              min="00:00:00" max="23:59:00" required />
          </td>

          <td>
            <input type="time" id="exampleInput6" name="input6" [(ngModel)]="data.janela6" placeholder="HH:mm:ss"
              min="00:00:00" max="23:59:00" required />
          </td>




        </tr>
      </div>



    </table>
    <div>
      <button class="btn btn-primary" type="button" (click)="salvar()">Save</button>
      <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
