<body>
  <div>

    <table class="table2">
      <thead>
        <th class="corlinha" >
          Criar Time Table
        </th>
      </thead>
    </table>

    <div class="table2">

      <label for="startDate" class="meu-label">Data da Programação:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" class="button-spacing">
      <button (click)="salvar()" class="button-spacing">Gerar Programação</button>


      <button (click)="openDialog('')" class="button-spacing"><i-feather name="plus-circle"></i-feather></button>



      <div *ngIf="showProgressBar">
        <progressbar [value]="progressValue" [max]="maxValue">{{ progressValue }} Saved lines</progressbar>
      </div>

      <a #downloadLink style="display: none;"></a>
      <div class="table2">
        <table>

          <thead>
            <tr>
              <th class="auto-width">
                Transportadora
              </th>
              <th class="auto-width">
                Placa
              </th>
              <th class="auto-width">
                Janela 1
              </th>
              <th class="auto-width">
                Janela 2
              </th>
              <th class="auto-width">
                Janela 3
              </th>
              <th class="auto-width">
                Janela 4
              </th>
              <th class="auto-width">
                Janela 5
              </th>
              <th class="auto-width">
                Janela 6
              </th>
              <th class="auto-width">
                Editar
              </th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let item of programacao">
              <tr>
                <td>{{ item.Transportadora }}</td>
                <td>{{ item.Plate }}</td>
                <td [ngClass]="{
                  'R26': item['Local 1'] === 'R26',
                  'R27': item['Local 1'] === 'R27',
                  'R54': item['Local 1'] === 'R54',
                  'R16': item['Local 1'] === 'R16',
                  'R19': item['Local 1'] === 'R19',
                  'R56': item['Local 1'] === 'R56',
                  'E37': item['Local 1'] === 'E37',
                  'PRU': item['Local 1'] === 'PRU',
                  'VAZIO': item['Local 1'] === undefined
                }">
                  <h3  class="my-heading">{{ item['Local 1'] }}</h3>
                  <h4 class="my-subheading">{{ item['Janela 1'] | date: 'HH:mm' }}</h4>
                </td>
                <td [ngClass]="{
                  'R26': item['Local 2'] === 'R26',
                  'R27': item['Local 2'] === 'R27',
                  'R54': item['Local 2'] === 'R54',
                  'R16': item['Local 2'] === 'R16',
                  'R19': item['Local 2'] === 'R19',
                  'R56': item['Local 2'] === 'R56',
                  'E37': item['Local 2'] === 'E37',
                  'PRU': item['Local 2'] === 'PRU',
                  'VAZIO': item['Local 2'] === undefined,
                }">
                  <h3  class="my-heading">{{ item['Local 2'] }}</h3>
                  <h4 class="my-subheading">{{ item['Janela 2'] | date: 'HH:mm' }}</h4>
                </td>

                <td [ngClass]="{
                  'R26': item['Local 3'] === 'R26',
                  'R27': item['Local 3'] === 'R27',
                  'R54': item['Local 3'] === 'R54',
                  'R16': item['Local 3'] === 'R16',
                  'R19': item['Local 3'] === 'R19',
                  'R56': item['Local 3'] === 'R56',
                  'E37': item['Local 3'] === 'E37',
                  'PRU': item['Local 3'] === 'PRU',
                  'VAZIO': item['Local 3'] === undefined
                }">
                  <h3  class="my-heading">{{ item['Local 3'] }}</h3>
                  <h4 class="my-subheading">{{ item['Janela 3'] | date: 'HH:mm' }}</h4>
                </td>

                <td [ngClass]="{
                  'R26': item['Local 4'] === 'R26',
                  'R27': item['Local 4'] === 'R27',
                  'R54': item['Local 4'] === 'R54',
                  'R16': item['Local 4'] === 'R16',
                  'R19': item['Local 4'] === 'R19',
                  'R56': item['Local 4'] === 'R56',
                  'E37': item['Local 4'] === 'E37',
                  'PRU': item['Local 4'] === 'PRU',
                  'VAZIO': item['Local 4'] === undefined
                }">
                  <h3  class="my-heading">{{ item['Local 4'] }}</h3>
                  <h4 class="my-subheading">{{ item['Janela 4'] | date: 'HH:mm' }}</h4>
                </td>

                <td [ngClass]="{
                  'R26': item['Local 5'] === 'R26',
                  'R27': item['Local 5'] === 'R27',
                  'R54': item['Local 5'] === 'R54',
                  'R16': item['Local 5'] === 'R16',
                  'R19': item['Local 5'] === 'R19',
                  'R56': item['Local 5'] === 'R56',
                  'E37': item['Local 5'] === 'E37',
                  'PRU': item['Local 5'] === 'PRU',
                  'VAZIO': item['Local 5'] === undefined
                }">
                  <h3  class="my-heading">{{ item['Local 5'] }}</h3>
                  <h4 class="my-subheading">{{ item['Janela 5'] | date: 'HH:mm' }}</h4>
                </td>

                <td [ngClass]="{
                  'R26': item['Local 6'] === 'R26',
                  'R27': item['Local 6'] === 'R27',
                  'R54': item['Local 6'] === 'R54',
                  'R16': item['Local 6'] === 'R16',
                  'R19': item['Local 6'] === 'R19',
                  'R56': item['Local 6'] === 'R56',
                  'E37': item['Local 6'] === 'E37',
                  'PRU': item['Local 6'] === 'PRU',
                  'VAZIO': item['Local 6'] === undefined
                }">
                  <h3  class="my-heading">{{ item['Local 6'] }}</h3>
                  <h4 class="my-subheading">{{ item['Janela 6'] | date: 'HH:mm' }}</h4>
                </td>

                <td>
                  <i-feather name="edit" (click)="editDialog(item)"></i-feather>
                <i-feather name="delete" (click)="deleteItem(item.ID)" class="button-spacing"></i-feather>
                </td>


              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
