<body>
    <div class="headerContratos">
        <div class="align-left">
            <input type="text" [(ngModel)]="filtroDelivery" (keyup)="aplicarFiltro()" placeholder="Search Destination">
        </div>
        <div class="align-right">
            <button mat-button (click)="openDialog(items, urlConsulta, query)">
                <span class="material-icons">note_add</span> Request Extra Freight
            </button>
        </div>
    </div>

    <ul>
        <table>
            <thead>
                <tr class="header-row">
                    <td><label>ID</label></td>
                    <td><label>Pickup Date</label></td>
                    <td><label>Origin</label></td>
                    <td><label>Address</label></td>
                    <td><label>Destination</label></td>
                    <td><label>Delivery Date</label></td>
                    <!-- <td><label>Area</label></td> -->
                    <!-- <td><label>Region</label></td> -->
                    <td><label>Request By</label></td>
                    <td><label>Carrier</label></td>
                    <td><label>Vehicle Carrier</label></td>
                    <td><label>Vehicle Requested</label></td>
                    <td><label>License Plate</label></td>
                    <!-- <td><label>Distance</label></td>
                    <td><label>Cost</label></td>
                    <td><label>Invoice</label></td>
                    <td><label>EPS</label></td> -->
                    <td><label>Status</label></td>
                    <td><label>Actions</label></td>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of items" [class]="getStatusClass(item.status)">
                    <td>{{ item.ID }}</td>
                    <td>{{ item.datePickup | date:'dd-MM-yy' + " " + item.timePickup }}</td>
                    <td>{{ item.locationPickup }}</td>
                    <td>{{ item.addressPickup }}</td>
                    <td>{{ item.locationDelivery + " - " + (item.areaDelivery ? item.areaDelivery : "")}}</td>
                    <td>{{ item.dateDelivery | date:'dd-MM-yy' + " " + item.timeDelivery }}</td>
                    <!-- <td>{{ item.areaDelivery}}</td> -->
                    <!-- <td>{{ item.regionDelivery}}</td> -->
                    <td>{{ item.reqName + " - " + item.reqId}}</td>
                    <td>{{ item.carrier}}</td>
                    <td>{{ item.vehicleType}}</td>
                    <!-- <td>
                        <select name="vehicleType" [(ngModel)]="item.vehicleType" appendTo="body">
                            <option value="-" disabled selected>-</option>
                            <option *ngFor="let type of typesVehicles" [value]="type">{{ type }}</option>
                        </select>
                    </td> -->
                    <td>{{ item.reqVehicle}}</td>
                    <!-- <td>
                        <select name="reqVehicle" [(ngModel)]="item.reqVehicle" appendTo="body">
                            <option value="-" disabled selected>-</option>
                            <option *ngFor="let type of typesVehicles" [value]="type">{{ type }}</option>
                        </select>
                    </td> -->
                    <td>{{ item.licensePlate}}</td>
                    <!-- <td>{{ item.distance}}</td>
                    <td>{{ item.cost}}</td>
                    <td>{{ item.invoice}}</td>
                    <td>{{ item.eps}}</td> -->
                    <td>{{ item.status}}</td>
                    <td class="action-buttons">
                        <button mat-icon-button color="primary" aria-label="Editar"
                            (click)="editDialog(item, urlConsulta, query)">
                            <span class="material-icons">edit</span>
                        </button>
                        <button mat-icon-button color="warn" aria-label="Excluir"
                            (click)="deleteItem(item.ID, urlConsulta, query)">
                            <span class="material-icons">delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ul>
</body>