<div class="table-container">
  <ul>
    <div>
      <button mat-button (click)="editDialog('')">
        <span class="material-icons">note_add</span> Adicionar Veículo
      </button>
    </div>
    <div class="table2">
      <table>
        <thead>
          <tr>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Chassis</th>
            <th>Vincode</th>
            <th>Ano Fabricação</th>
            <th>Editar</th>

          </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <tr [ngClass]="{ 'black-row': $even, 'grafiti-row': $odd }">
            <td>{{ item.modelo }}</td>
            <td>{{ item.placa }}</td>
            <td>{{ item.chassis }}</td>
            <td>{{ item.vincode }}</td>
            <td>{{ item.fabricacao }}</td>
            <td>
              <i-feather name="edit" (click)="editDialog(item)"></i-feather>
              <span style="margin-left: 10px; margin-right: 10px;"></span>
              <i-feather name="delete" (click)="deleteItem(item.ID, urlConsulta, query)"
                class="button-spacing"></i-feather>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ul>
</div>
<clr-modal [(clrModalOpen)]="dialogOpen" [clrModalSize]="'md'" class="dialog-container">
  <h2 class="modal-title">Adicionar Local</h2>
  <div class="modal-body">
    <form class="inputs">
      <div>
        <label class="modal-label">Modelo</label>
        <input type="string" name="modelo" [(ngModel)]="item.modelo" class="modal-input1">
      </div>
      <div>
        <label class="modal-label">Placa</label>
        <input type="string" name="placa" [(ngModel)]="item.placa" class="modal-input2">
      </div>
      <div>
        <label class="modal-label">Chassis</label>
        <input type="string" name="chassis" [(ngModel)]="item.chassis" class="modal-input3">
      </div>
      <div>
        <label class="modal-label">Vin Code</label>
        <input type="string" name="vincode" [(ngModel)]="item.vincode" class="modal-input3">
      </div>
      <div>
        <label class="modal-label">Ano Veículo</label>
        <input type="string" name="fabricacao" [(ngModel)]="item.fabricacao" class="modal-input3">
      </div>
      <div class="modal-div">
        <button class="modal-button" type="button" (click)="salvar()">Save</button>
        <button class="modal-button" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</clr-modal>
